* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  max-width: 1320px;
  font-size: 1em;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav a {
  color: #0065fc;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}

nav a:visited {
  color: gray;
}

header a:hover {
  border-top: solid 3px #0065fced;
  padding-top: 32px;
  color: #0065fc;
}

nav {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
}

/* ARTICLE */

article {
  margin-bottom: 20px;
}

h1 {
  padding-bottom: 5px;
}

/* BARRE DE RECHERCHE */

.search {
  display: flex;
  margin-bottom: 30px;
}

.map i {
  background-color: #f2f2f2;
  padding: 18px;
  border-radius: 20px 0 0 20px;
  font-size: 1.1em;
}

form {
  display: flex;
  border: solid 1px #f2f2f2;
  border-right: none;
  border-left: none;
}

input {
  border: none;
  padding-right: 68px;
}

::placeholder {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 17px;
  color: black;
}

button {
  padding-right: 23px;
  padding-left: 23px;
  border-radius: 0 20px 20px 0;
  background-color: #0065fc;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
}

/* FILTRES */

.filtres {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.filtres h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 30px;
}

.groupe-filtre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-filtre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 28px;
  border-radius: 25px;
  height: 46px;
  border: solid 2px #f2f2f2;
  border-left: none;
}

.type-filtre:hover {
  background-color: cornflowerblue;
  color: floralwhite;
  cursor: pointer;
  transition: 0.7s;
}

.type-filtre i {
  color: #0065fc;
  width: 50px;
  height: 50px;
  background-color: #deebff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.type-filtre p {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 33px;
}

/* INFOS */

.info {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.info i {
  color: rgb(0, 101, 252);
  padding: 5px;
  border: solid 2px #f2f2f2;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
}

/* HEBERGEMENTS ET POPULAIRES */

.hebergements-populaires {
  display: flex;
}

/* HEBERGEMENTS */

.hebergements {
  max-width: 880px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 35px;
}

.hebergements h2 {
  padding-top: 40px;
  margin-left: 40px;
  margin-bottom: 25px;
  font-size: 1.3em;
  font-weight: bolder;
}

.groupe-hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 450px;
  margin-bottom: 20px;
}

.carte-hebergement {
  border: white 5px solid;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px 7px lightgray;
}

.hebergements-populaires li {
  list-style: none;
}

.hebergements-populaires a {
  text-decoration: none;
}

.hebergements-populaires i {
  color: #0065fc;
}

.cannebiere {
  background-image: url("images/hebergements/4_small/auberge-la-cannebière.jpg");
}
.hotel-du-port {
  background-image: url("images/hebergements/4_small/hotel-du-port.jpg");
}

.hotel-les-mouettes {
  background-image: url("images/hebergements/4_small/hotel-les-mouettes.jpg");
}

.hotel-de-la-mer {
  background-image: url("images/hebergements/4_small/hotel-de-la-mer.jpg");
}

.auberge-le-panier {
  background-image: url("images/hebergements/4_small/auberge-le-panier.jpg");
}

.hotel-chez-amina {
  background-image: url("images/hebergements/4_small/hotel-chez-amina.jpg");
}

.dimensions-hebergements {
  width: 240px;
  height: 112px;
  background-position: center;
  background-size: cover;
  border-radius: 12px 12px 0 0;
  margin-bottom: 10px;
}

.description-carte-hebergement {
  margin-left: 15px;
  font-size: 0.8em;
}

.description-carte-hebergement ul {
  display: flex;
}

.description-carte-hebergement h3 {
  padding-bottom: 7px;
}

.description-carte-hebergement p {
  padding-bottom: 7px;
}

.description-carte-hebergement i {
  margin-bottom: 5px;
  padding-left: 1px;
  font-size: 0.9em;
}

.tarif {
  font-weight: bold;
}

ul .etoile-grise {
  color: #f2f2f2;
}

.afficher-plus {
  margin-left: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* POPULAIRES */

.populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 405px;
  display: flex;
  justify-content: center;
}

.head-populaires {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 25px;
  max-width: 342px;
}

.head-populaires h2 {
  font-size: 1.3em;
}

.head-populaires i {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.groupe-populaires {
  display: flex;
  flex-wrap: wrap;
  max-width: 342px;
  height: 540px;
}

.groupe-populaires a {
  display: flex;
  border: white 5px solid;
  background-color: white;
  box-shadow: 2px 2px 7px lightgray;
  border-radius: 15px;
}

.hotel-le-soleil-du-matin {
  background-image: url("images/hebergements/4_small/hotel-le-soleil-du-matin.jpg");
}
.au-coeur-de-l-eau {
  background-image: url("images/hebergements/4_small/au-coeur-de-l-eau-chambres-d-hotes.jpg");
}

.hotel-tout-bleu-et-blanc {
  background-image: url("images/hebergements/4_small/hotel-tout-bleu-et-blanc.jpg");
}

.dimensions-populaires {
  width: 125px;
  height: 135px;
  background-position: center;
  background-size: cover;
  border-radius: 12px 0 0 12px;
}

.description-carte-populaire {
  margin-left: 15px;
  padding-right: 35px;
}

.description-carte-populaire ul {
  display: flex;
}
